@charset "UTF-8";

*{
    margin:0;
    padding: 0;
}
body{
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat; 
    background-size: 40vw 100vh;
}


main{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.left-card{
    height: 100vh;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-front{
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 49vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px black; 
    margin-right: 10%; 
}

.card-logo{
    margin-bottom: 17%; 
    margin-left: 20px; 
}

.num-cart{
    display: flex;
    align-self: center; 
    font-size: 20px;
    width: 250px;
    border: none;
    background-color: transparent;
    letter-spacing: 3px;
    color: white;
    outline: none;
}

.num-cart::placeholder{
    color: rgba(255, 255, 255, 0.856);
}

.bottom-info{
   display: inline-flex;
   justify-content: space-evenly; 
   padding-top: 20px;
   margin-bottom: 14px;

}
.titular{
    padding-left: 10px;
    width: 150px;
    border: none;
    font-size: 12px;
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
}

.titular::placeholder{
    color: rgba(255, 255, 255, 0.705);
}

.validade{
    width: 53px;
    background-color: transparent;
    border: none;
    outline: none;
}

.validade::placeholder{
    color: rgba(255, 255, 255, 0.705);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.bg-back{
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 48vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    float: right;
    box-shadow: 0px 0px 30px black;
    margin-left: 20%;
}

.num-cvv{
    width: 40px;
    margin-right: 45px;
    border: none;
    background-color: transparent;
    letter-spacing: 1px;
    outline: none;   
    font-weight: 700;
}

.num-cvv::placeholder{
    color: rgba(255, 255, 255, 0.856);
}

.right-card{
    width: 40%;  
}

.text-field{
    max-width: 68%;
    padding-left: 15%;    
}



#titular{
    padding: 10px;
    border-radius: 8px;
    border-color: rgba(211, 211, 211, 0.63);
    border-width: 0.5px;
    margin-bottom: 15px;
    width: 90%;
    


    /* display: none; */
}

label{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* display: none; */
}

#card-number{
    padding: 10px;
    border-radius: 8px;
    border-color: rgba(211, 211, 211, 0.63);
    border-width: 0.5px;
    margin-bottom: 15px;
    width: 90%;

    /* display: none; */
}

.expiration-container {
    display: flex;
    gap: 15px;
    width: 95.5%;

    /* display: none; */
  }

  .expiration-input {
    width: 40%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .cvc-input {
    width: 40%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .expiration-label {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .complet{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;

    
    display: none;
  }

  h3{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
  }
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: rgb(159, 160, 160);
  }
  .comp-img{
    padding-bottom: 15px;
    max-width: 35%;
  }

  button{
    height: 6vh;
    min-width: 97%;
    margin-top: 30px;
    background-color: rgb(62, 11, 110);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer; 
    transition-duration: 0.7s;


  }

  button:hover{
    background-color: rgb(109, 45, 168);
    transform: scale(1.1);
  }